<!DOCTYPE HTML'>
<html>
<!-- CSS only -->

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <title>NATI</title>
    <meta http-equiv=Content-Type content='text/html' charset='ISO-8859-1'>
</head>

<body text=#000000 bgColor=#ffffff class="body-relatorio align-items-center p-lg-4">
    <div class="d-flex flex-column px-md-5">
        <h2 class='p-md-2 text-md-center fw-bold'>NATI</h2>
        <h3 class='text-md-center fw-bolder'>RESULTADO DA APLICAÇÃO </h3>
        <div class="text-lg-center fw-semibold p-md-3">
            <h6>
                De acordo com as respostas coletadas, recomendamos que o(a) paciente seja encaminhado(a) para as
                seguintes
                especialidades a fim de obter melhor orientação e diagnóstico
            </h6>
        </div>

        <p class="list-group-item fw-bold fs-6 pt-md-3" aria-current="true">Consultar as possiveis especialidades:</p>
        <ol class="list-group list-group-numbered text-uppercase">
            <li class="list-group-item list-group-item-action">neurologia pediatrica</li>
            <li class="list-group-item list-group-item-action">neurologia</li>
            <li class="list-group-item list-group-item-action">genetica medica</li>
            <li class="list-group-item list-group-item-action">psiquiatria</li>
        </ol>
        
    </div>
</body>

</html>